{% raw %}
server {
    server_name {{ domain }};
    client_max_body_size 100M;

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:{{ port }};
    }
    location /static/ {
        alias {{ project_path }}/{{ project_name }}/static/;
    }
    location /media/ {
        alias {{ project_path }}/{{ project_name }}/media/;
    }
}
{% endraw %}